html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: poppins;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(9, 9, 26);
    color: white;
}

.nav{
    width: 80%;
    height: 5.5rem;
    background-color: rgb(26, 24, 54, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    padding: 0rem 10rem;
    position: sticky;
    top: 0;
    z-index: 100;
    transition: 0.2s;
}
.nav a{
    text-decoration: none;
    color: white;
}
.corner{
    width: 10rem;
    height: 100%;
    /* background-color: blue; */
    /* border-right: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.left i{
    font-size: xx-large;
    color: violet;
}
.right i, .lefthead button i{
    color: rgb(255, 255, 255);
}
/* .right{

} */
.right button, .lefthead button{
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    border:  none;
    background-color: violet;
}
.centernav{
    flex: 1;
    /* background-color: bisque; */
}
ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style: none;
}

.header{
    width: 80%;
    height: 37rem;
    /* background: url('./assets/vecteezy_white-dotted-grid-paper-texture-for-layout-and-design_70802122.jpg');
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: row;
}
.head{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border-right: 1px solid black; */
    justify-content: center;
    align-items: center;
}
.lefthead{
    width: 60%;
    padding-left: 1rem;
    flex-direction: column;
    align-items: start;
}
.lefthead button{
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    border:  none;
}
.righthead{
    width: 40%;
}
h1{
    font-size: 5rem;
    color: violet;
}
h2{
    color: rgb(29, 91, 223);
}
.righthead img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 50px violet;
    border-radius: 50%;
}

.section{
    width: 80%;
    height: 30rem;
    /* background-color: bisque; */
    /* border-bottom: 1px solid black; */
}
.about{
    display: flex;
    flex-direction: column;
    height: 20rem;
    /* justify-content: center; */
    /* align-items: center; */
}
.skills{
    display: flex;
    flex-direction: column;
}
.tech{
    width: 100%;
    flex: 1;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    /* color: black; */
    /* border: 1px ; */
}
.skill{
    display: flex;
    width: 60%;
    height: 60%;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 24, 54);
    border-radius: 1rem;
    transition: 0.2s;
}
.tech i{
    font-size: 2rem;
}
.projects{
    height: 80rem;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}
.prj{
    width: 90%;
    height: 23rem;
    border: 0.5px solid rgb(168, 168, 168);
    display: flex;
    flex-direction: row;
    align-self: center;
    transition: 0.2s;
}
.prj img{
    width: 40%;
    height: 100%;
}
.desc{
    flex: 1;
}

.edu{
    width: 80%;
    height: 10rem;
    /* background-color: bisque; */
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-self: center;
    border-left: 3px solid white;
    margin-top: 2rem;
}
.part{
    width: 80%;
    height: 8rem;
    /* background-color: black; */
    border: 0.5px solid grey;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
    transition: 0.2s;
    background-color: rgb(26, 24, 54);

}
.part .img{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.part disc{
    flex: 1;
}
.part h3, .part p{
    align-self: center;
}
.disc p{
    font-weight: 100;
}
.img i{
    font-size: 2rem;
    color: white;
}
.prj .desc{
    padding: 1.5rem;
    text-align: justify;
}
.prj .desc .skillreq{
    width: 100%;
    height: 5rem;
    /* background-color: aqua; */
    display: flex;
    /* flex-wrap: wrap; */
}
.skillreq button{
    /* width: 3rem; */
    height: 3rem;
    margin: 1rem;
    padding: 0rem 0.5rem;
    border-radius: 1rem;
    color: white;
    background-color: rgb(26, 24, 54);
    border: 0.5px solid grey;
}
.prj .desc .prjlink{
    width: 100%;
    height: 3rem;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.prjlink i{
    font-size: 2rem;
    padding-left: 1rem;
    transition: 0.2s;
}


.accomp{
    height: 108rem;
}
.accomp .edu h2, .accomp .edu h3, .accomp .edu p{
    position: relative;
    left: 10rem;
}
.edu p{
    font-weight: 100;
}

.footer{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    color: grey;
    border-top: 0.01rem solid grey;
    background-color: rgb(26, 24, 54);
}
.heading{
    justify-self: center;
    font-size: 3rem;
}
button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px grey;
    transform: scale(1.1);
    transition: 0.2s;
}
.fa-circle-dot{
    position: relative;
    left: 5.75rem;
    color: rgb(29, 91, 223);
}

.contact{
    width: 80%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
}
.contact h1, .contact pre, .contact h3{
    justify-self: center;
}
.contact pre{
    margin-bottom: 5rem;
}
.contact i{
    color: grey;
    font-size: 1.5rem;
}
.buttons{
    width: 20%;
    height: 3rem;
    margin-top: 2rem;
}
.contact button{
    width: 4rem;
    padding: 1rem;
    justify-self: center;
    border-radius: 50%;
    border: none;
    background-color: rgb(26, 24, 54);
    transition: 0.2s;
}
.contact .fa-paper-plane{
    color: violet;
}
.contact button:hover{
    box-shadow: none;
    border: 0.5px solid violet;
}

li{
    color: grey;
}
li:hover{
    cursor: pointer;
    color: violet;
}
.skill:hover{
    transform: scale(1.09);
    box-shadow: 1px 1px 0px violet;
    color: violet;
}
.sk:hover{
    border: 0.5px solid violet;
    color: violet;
    box-shadow: 1px 1px 0px violet;
}
.prjlink i:hover{
    cursor: pointer;
    transform: scale(1.09);
    color: rgb(6, 140, 235);
}
.prj:hover{
    transform: scale(1.05);
    border: 0.5px solid violet;
    background-color: rgb(26, 24, 54);
    cursor: pointer;
}

.part:hover{
    transform: scale(1.05);
    border: 0.5px solid violet;
    box-shadow: 0px 0px 10px violet;
    cursor: pointer;
}
.nav a:hover{
    color: violet;
}

.lefthead button a{
    text-decoration: none;
    color: black;
}
